{% extends 'admin/adminbase.html' %}
{% load widget_tweaks %}
{% block admincontent %}
{% load static %}
{% if messages %}
{% for message in messages %}
<script>
    alert('{{ message }}');
</script>
{% endfor %}
{% endif %}

<!-- Breadcrumb Start -->
<div class="container-fluid pt-3 px-4">
    <div class="row bg-light rounded mx-0">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light pt-3 mb-3">
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Product</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<div class="container-fluid pt-4 px-4">
    <div class="bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-5">
            <h3 class="mb-0">Add Product</h3>
            <a href="/admin-product/" class="btn btn-info"><i class="bi bi-arrow-90deg-left me-2"></i>Back</a>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="pname" class="form-label">Product Name</label>
                        {% render_field productForm.productname class="form-control" id="pname" %}
                    </div>
                    <div class="mb-3">
                        <label for="thumbimage" class="form-label">Product Thumbnail Image</label>
                        {% render_field productForm.pimage_thumbnail class="form-control" id="thumbimage" %}
                    </div>
                    <div class="mb-3">
                        <label for="pprice" class="form-label">Product Price</label>
                        {% render_field productForm.price class="form-control" id="pprice" %}
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Product Images</label>
                        {% render_field imageForm.images class="form-control" multiple="True" id="image" %}
                    </div>
                    <div class="mb-3">
                        <label for="subcatname" class="form-label">Sub Category Name</label>
                        {% render_field productForm.subcategory class="form-control" id="subcatname" %}
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description </label>
                        {% render_field productForm.description class="form-control" id="desc" %}
                    </div>
                    <div class="mb-3">
                        <label for="spec" class="form-label">Specification</label>
                        {% render_field productForm.specification class="form-control" id="spec" %}
                    </div>
                    <div class="mt-4 mb-3">
                        <button type="submit" class="btn btn-outline-success me-3"><i
                                class="bi bi-plus-circle me-1"></i>
                            Add</button>
                        <button type="reset" class="btn btn-secondary"><i class="bi bi-x-circle me-1"></i>
                            Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% endblock %}