{% extends 'admin/adminbase.html' %}
{% load widget_tweaks %}
{% block admincontent %}
{% if messages %}
{% for message in messages %}
<script>
    alert('{{ message }}');
</script>
{% endfor %}
{% endif %}
<!-- Breadcrumb Start -->
<div class="container-fluid pt-3 px-4">
    <div class="row bg-light rounded mx-0">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light pt-3 mb-3">
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-5">
            <h3 class="mb-0">Products</h3>
            <a href="/admin-add-product/" class="btn btn-warning">Add Product</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Product Price</th>
                        <th scope="col">Subcategory Name</th>
                        <th scope="col">Date & Time</th>
                        <th scope="col" colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in product %}
                    <tr class="text-dark text-center">
                        <th scope="row">{{i.custom_id}}</th>
                        <td>
                            <img src="{{i.product_data.pimage_thumbnail.url}}" alt="subcatimg" width="70px"
                                style="aspect-ratio: 1;" class="img-fluid rounded">
                        </td>
                        <td>{{i.product_data.productname}}</td>
                        <td>{{i.product_data.price}}</td>
                        <td>{{i.product_data.subcategory.subcatname}}</td>
                        <td>{{i.product_data.date}} {{i.product_data.time}}</td>
                        <td>
                            <a href="{% url 'update-product' i.product_data.id %}" class="btn btn-outline-primary"><i
                                    class="bi bi-pencil-square pe-2"></i>Update</a>
                        </td>
                        <td>
                            <a href="{% url 'delete-product' i.product_data.id %}" class="btn btn-outline-danger"><i
                                    class="bi bi-trash3 pe-2"></i>Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



{% endblock %}