{% extends 'user/userindex.html' %}

{% block title %} detail {% endblock %}

{% load static %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid mt-3">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav aria-label="breadcrumb" class="mb-3 px-3" style="background-color: #ffffff;">
                <ol class="breadcrumb py-3">
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Shop</a></li>
                    <li class="text-dark breadcrumb-item active" aria-current="page">Shop Detail</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Detail Start -->
<div class="container-fluid pb-5 mt-2">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-4">
            <div id="product-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        <img class="w-100 h-auto" src="{{product.pimage_thumbnail.url}}" style="aspect-ratio: 1;"
                            alt="Image">
                    </div>
                    {% for i in images %}
                    <div class="carousel-item">
                        <img class="w-100 h-auto" src="{{i.images.url}}" style="aspect-ratio: 1;" alt="Image">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel"
                    data-bs-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#product-carousel"
                    data-bs-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </button>
            </div>
        </div>

        <div class="col-lg-7 h-auto mb-4" style="background-color: #ffffff;">
            <div class="h-100 p-4">
                <p class="mt-3"><span style="background-color: rgb(172, 216, 50);" class="p-1">In Stock</span></p>
                <h3 class="mb-3 mt-5">{{product.productname}}</h3>
                <!-- <div class="d-flex mb-3">
                    <div class="text-warning me-2">
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star"></small>
                        <small class="fas fa-star-half-alt"></small>
                        <small class="far fa-star"></small>
                    </div>
                    <small class="pt-1">(99 Reviews)</small>
                </div> -->
                <h3 class="font-weight-semi-bold mb-4 mt-4"><i class="bi bi-currency-rupee"></i>{{product.price}}</h3>

                <div class="d-flex align-items-center mb-4 pt-2">
                    <a href="{% url 'add-cart' product.id %}" class="btn btn-success text-light fw-bold me-4">
                        <i class="fa fa-shopping-cart me-1"></i>Add To Cart
                    </a>
                    <a href="{% url 'add-wishlist' product.id %}" class="btn btn-danger text-light fw-bold">
                        <i class="fa fa-heart me-2"></i>Add To Wishlist
                    </a>
                </div>
                <!-- <div class="d-flex pt-3 align-items-center">
                    <strong class="text-dark me-2 fs-5 fw-bold">Share on:</strong>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f fs-4" style="color: #0866FF;"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter fs-4" style="color: #000000;"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-whatsapp fs-4" style="color: #25D366;"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-instagram fs-4" style="color: #E4405F;"></i>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-4">
                <ul class="nav nav-tabs mb-4">
                    <li class="nav-item">
                        <a class="nav-link text-dark active" id="tab-pane-1-tab" data-bs-toggle="tab"
                            href="#tab-pane-1">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" id="tab-pane-2-tab" data-bs-toggle="tab"
                            href="#tab-pane-2">Specification</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-dark" id="tab-pane-3-tab" data-bs-toggle="tab"
                            href="#tab-pane-3">Reviews (0)</a>
                    </li> -->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        {{product.description | safe}}
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        {{product.specification | safe}}
                    </div>
                    <!-- <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="mb-4">1 review for "Product Name"</h4>
                                <div class="d-flex mb-4">
                                    <img class="rounded-circle me-2" src="{% static 'images/profile_pic.JPG' %}" alt=""
                                        style="width: 45px; height: 45px;">
                                    <div class="media-body">
                                        <h6>John Doe<small> - <i>01 Jan 2045</i></small></h6>
                                        <div class="text-warning mb-2">
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-fill"></i>
                                            <i class="bi bi-star-half"></i>
                                            <i class="bi bi-star"></i>
                                        </div>
                                        <p>Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum
                                            et no at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4 class="mb-4">Leave a review</h4>
                                <small>Your email address will not be published. Required fields are marked *</small>
                                <div class="d-flex my-3">
                                    <p class="mb-0 me-2">Your Rating * :</p>
                                    <div class="text-warning">
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                        <i class="bi bi-star"></i>
                                    </div>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <label for="message">Your Review *</label>
                                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Your Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Your Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group mb-2 mt-4">
                                        <input type="submit" value="Leave Your Review" class="btn btn-warning px-3">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Products Start -->
<div class="container-fluid py-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-light pe-3">You May Also
            Like</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
            <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'images/product-1.jpg' %}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square me-4" href=""><i class="bi bi-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="bi bi-heart"></i></a>
                    </div>
                </div>
                <div class="text-center py-4 pd">
                    <a class="h6 text-decoration-none text-dark" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
            <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'images/product-1.jpg' %}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square me-4" href=""><i class="bi bi-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="bi bi-heart"></i></a>
                    </div>
                </div>
                <div class="text-center py-4 pd">
                    <a class="h6 text-decoration-none text-dark" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
            <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'images/product-1.jpg' %}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square me-4" href=""><i class="bi bi-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="bi bi-heart"></i></a>
                    </div>
                </div>
                <div class="text-center py-4 pd">
                    <a class="h6 text-decoration-none text-dark" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-2">
            <div class="product-item bg-light">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="{% static 'images/product-1.jpg' %}" alt="">
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square me-4" href=""><i class="bi bi-cart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="bi bi-heart"></i></a>
                    </div>
                </div>
                <div class="text-center py-4 pd">
                    <a class="h6 text-decoration-none text-dark" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>$123.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->



{% endblock %}