{% extends 'user/address.html' %}
{% load widget_tweaks %}


{% block add-address %}
<a href="{% url 'add-address' %}" class="d-block btn text-uppercase fw-bold my-4"
    style="border: 2px solid grey !important;">
    <i class="fa-solid fa-plus me-2"></i> Add a
    New Address</a>
{% endblock %}

{% block edit-address %}
<form action="" method="post" class="px-3 py-3" style="border: 2px solid grey !important;">
    {% csrf_token %}

    <h5 class="mb-4">Edit Address</h5>

    <div class="row">
        <div class="col-lg-6 form-group mb-3">
            <label for="name" class="form-label">Name</label>
            {%render_field AddressForm.customer_name class="form-control" id="name" placeholder="Enter Your Name"%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            {%render_field AddressForm.phone class="form-control" id="phone" placeholder="Phone No."%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="street" class="form-label">Street</label>
            {%render_field AddressForm.street class="form-control" id="street" placeholder="Enter Your Street"%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="landmark" class="form-label">Landmark</label>
            {%render_field AddressForm.landmark class="form-control" id="landmark" placeholder="Enter Your Landmark"%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="city" class="form-label">City</label>
            {%render_field AddressForm.city class="form-control" id="city" placeholder="Enter your City"%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="state" class="form-label">State</label>
            {%render_field AddressForm.state class="form-control" id="state" placeholder="Enter your State"%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="country" class="form-label">Country</label>
            {%render_field AddressForm.country class="form-control" id="country" placeholder="Enter your Country"%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="pincode" class="form-label">Pincode</label>
            {%render_field AddressForm.pincode class="form-control" id="pincode" placeholder="Enter your Pincode"%}
        </div>
        <div class="col-lg-6 form-group mb-3">
            <label for="alt_phone" class="form-label">Alternate Phone Number</label>
            {%render_field AddressForm.alt_phone class="form-control" id="alt_phone" placeholder="Enter Phone No."%}
        </div>
    </div>
    <button class="btn btn-success me-3" type="submit">Save</button>
    <a href="{% url 'address' %}" class="btn btn-info text-light">Cancel</a>
</form>


{% for i in addresses %}
<div class="card mb-4 mt-4" style="border: 2px solid grey;">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">{{i.customer_name}}</h5>
            <div class="dropdown">
                <button class="btn btn-dark" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical fs-4" style="color: #ffc107; "></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'edit-address' i.id %}">Edit</a></li>
                    <li><a class="dropdown-item" href="{% url 'delete-address' i.id %}">Delete</a></li>
                </ul>
            </div>
        </div>
        <p class="card-text">{{i.phone}}, {{i.alt_phone}}</p>
        <p class="card-text">
            {{i.street}}, {{i.landmark}}, {{i.city}}, {{i.state}}, {{i.country}} - {{i.pincode}}
        </p>
    </div>
</div>
{% endfor %}


{% endblock %}