{% extends 'user/userindex.html' %}
{% load static %}
{% block title %} My Orders {% endblock %}
{% block content %}


{% if messages %}
{% for message in messages %}
<script>
    alert('{{ message }}');
</script>
{% endfor %}
{% endif %}


<!-- Breadcrumb Start -->
<div class="container-fluid mt-3 mb-3">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav aria-label="breadcrumb" style="background-color: #ffffff;">
                <ol class="breadcrumb  px-3 py-3">
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Users</a></li>
                    <li class="breadcrumb-item active text-dark" aria-current="page">Orders</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->



<div class="container-fluid mt-3">
    <h5 class="section-title position-relative mx-xl-5 mb-3">
        <span class="bg-light pe-3 fs-4">My Orders</span>
    </h5>

    <div class="row px-xl-5">
        <div class="col-lg-12">
            {% for order_data in data %}
            <div class="card mb-4 shadow">
                <div class="card-header">
                    <h5 class="card-title mb-0">Order ID: {{ order_data.order.order_id }}</h5>
                </div>
                <div class="card-body">
                    {% for item in order_data.items %}
                    <div class="row g-0">
                        <div class="col-md-4 text-center">
                            <img src="{{ item.product.pimage_thumbnail.url }}" class="img-fluid"
                                style="max-width: 45%; aspect-ratio: 1;" alt="Product Image">
                        </div>
                        <div class="col-md-8">
                            <div class="d-flex flex-column h-100 justify-content-between">
                                <div>
                                    <h5 class="card-title">
                                        <a class="text-decoration-none text-dark"
                                            href="#">{{item.product.productname}}</a>
                                    </h5>
                                    <p class="card-text fs-5"><i class="bi bi-currency-rupee"></i>Price:
                                        {{item.product.price}}</p>
                                    <p class="card-text fs-5"><span class="fw-bold">Quantity:</span>
                                        {{item.quantity}}
                                    </p>
                                </div>
                                <div>
                                    <p class="card-text fs-5"><Span class="fw-bold">Order Address:</Span>
                                        {{order_data.address.street}},
                                        {{ order_data.address.landmark }}, {{ order_data.address.city }},
                                        {{ order_data.address.state }}, {{ order_data.address.country }} -
                                        {{ order_data.address.pincode }}</p>
                                    <p class="card-text fw-bold fs-5">Order Status: {{ order_data.order.status }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</div>


{% endblock %}