{% extends 'user/userindex.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
{% load static %}
<!-- Breadcrumb Start -->
<div class="container-fluid mt-3 mb-3">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav aria-label="breadcrumb" style="background-color: #ffffff;">
                <ol class="breadcrumb  px-3 py-3">
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-dark text-decoration-none">Shop</a></li>
                    <li class="breadcrumb-item active text-dark" aria-current="page">Shop List</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5 ">
        <!-- Shop Sidebar Start -->
        <!-- <div class="col-lg-3 col-md-4"> -->
        <!-- Price Start -->
        <!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pe-3">Filter by
                    price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-start mb-3">
                        <input type="checkbox" class="custom-control-input me-4" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-start mb-3">
                        <input type="checkbox" class="custom-control-input me-4" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-start mb-3">
                        <input type="checkbox" class="custom-control-input me-4" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-start mb-3">
                        <input type="checkbox" class="custom-control-input me-4" id="price-3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-start mb-3">
                        <input type="checkbox" class="custom-control-input me-4" id="price-4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-start">
                        <input type="checkbox" class="custom-control-input me-4" id="price-5">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                    </div>
                </form>
            </div> -->
        <!-- Price End -->

        <!-- Color Start -->
        <!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pe-3">Filter by
                    color</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="color-all">
                        <label class="custom-control-label" for="price-all">All Color</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-1">
                        <label class="custom-control-label" for="color-1">Black</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-2">
                        <label class="custom-control-label" for="color-2">White</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-3">
                        <label class="custom-control-label" for="color-3">Red</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="color-4">
                        <label class="custom-control-label" for="color-4">Blue</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="color-5">
                        <label class="custom-control-label" for="color-5">Green</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div> -->
        <!-- Color End -->

        <!-- Size Start -->
        <!-- <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-light pe-3">Filter by
                    size</span></h5>
            <div class="bg-light p-4 mb-30">
                <form>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" checked id="size-all">
                        <label class="custom-control-label" for="size-all">All Size</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-1">
                        <label class="custom-control-label" for="size-1">XS</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-2">
                        <label class="custom-control-label" for="size-2">S</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-3">
                        <label class="custom-control-label" for="size-3">M</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-4">
                        <label class="custom-control-label" for="size-4">L</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" id="size-5">
                        <label class="custom-control-label" for="size-5">XL</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div> -->
        <!-- Size End -->
        <!-- </div> -->
        <!-- Shop Sidebar End -->

        <!-- Shop Product Start -->
        <div class="col-lg-12 col-md-8">
            <div class="col-lg-12">
                {% if subcategory_filter %}
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="pe-3"
                        style="background-color:#f5f5f5;">{{subcategory_filter.subcatname}}</span>
                </h5>
                {% endif %}
            </div>
            <div class="row row-col-md-2 row-col-lg-3 g-4 pb-3">

                {% for item in productsfinal %}
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <div class="product-item bg-light mb-4">
                        <div class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100 h-auto" src="{{item.pimage_thumbnail.url}}"
                                    alt="product-img" style="aspect-ratio: 1;">
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square me-4"
                                        href="{% url 'add-cart' item.id %}"><i class="bi bi-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square"
                                        href="{% url 'add-wishlist' item.id %}"><i class="bi bi-heart"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4 pd">
                                <a class="h6 text-decoration-none text-dark"
                                    href="{% url 'detail' item.id %}">{{item.productname}}e</a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5><i class="bi bi-currency-rupee"></i>{{item.price}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>

            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">

                        {% if productsfinal.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{productsfinal.previous_page_number}}" tabindex="-1"
                                aria-disabled="true">Previous</a>
                        </li>
                        {% endif %}

                        {% for n in productsfinal.paginator.page_range %}

                        {% if n >= productsfinal.number and n <= productsfinal.number|add:"5" %} <li
                            class="page-item {% if productsfinal.number == n %}active{% endif %}"><a class="page-link"
                                href="?page={{n}}">{{n}}</a></li>
                            {% endif %}

                            {% endfor %}

                            {% if productsfinal.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{productsfinal.next_page_number}}">Next</a>
                            </li>
                            {% endif %}
                    </ul>
                </nav>
            </div>

        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
</div>


{% endblock %}